*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.header{
  background-color: aquamarine;
}
.header h3{
  padding: 16px;
}
.forms{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.forms input{
  width:300px;
  margin: 20px;
  border-radius:5px ;
  padding: 0.5rem;
}
.forms button{

  border-radius: 5px;
  background-color: azure;
  text-align: center;
  padding:0.5rem 1rem;
}
.box{
  background-color:aqua;
  width:150px;
  padding: 1rem;
  height:auto;
}
